/* Paleta de colores */
:root {
    --color-primary: #4e82bf; /* Azul medio */
    --color-secondary: #e3c83b; /* Amarillo dorado */
    --color-accent: #7e92bf; /* Azul grisáceo */
    --color-text: #edf3f8; /* Blanco azulado */
    --color-header:#87CEEB; /* Azul claro */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px; /* Espacio para el header fijo */
    padding-bottom: 40px; /* Espacio para el footer fijo */
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden; /* Elimina el scroll */
}

header {
    position: fixed; /* Cambiado a fijo */
    top: 0; /* Fijado a la parte superior */
    left: 0;
    width: 100%;
    height: 120px; /* Altura de la cabecera */
    background-color: var(--color-header);
    overflow: hidden;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

h1 {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    margin: 0;

    font-size: 1.8rem;
    text-shadow: 0 0 10px var(--color-primary), 0 0 20px var(--color-primary), 0 0 30px var(--color-primary);
}

main {
    padding: 20px;
    flex: 1;
    overflow: hidden; /* Evita el scroll dentro del main */
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: var(--color-accent);
}

footer {
    position: fixed; /* Cambiado a fijo */
    bottom: 0; /* Fijado a la parte inferior */
    left: 0;
    width: 100%;
    background-color: var(--color-header);
    font-size: 0.9rem;
    text-shadow: 0 0 5px var(--color-accent), 0 0 10px var(--color-accent);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

@media (min-width: 768px) {
    .button-container {
        flex-direction: row;
        justify-content: center;
    }

    button {
        margin: 0px 10px;
    }
}

@media (max-width: 767px) {
    button {
        margin-top: 5px;
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}