# Archivos generados por LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdfsync
*.nav
*.snm
*.vrb
*.thm
*.bcf
*.run.xml

# Archivos de respaldo y temporales
*~
*.backup
*.swp
*.swo


# Archivos específicos de editores
## TeXShop
*.texlive*
## TeXnicCenter
*.tps
## TeXworks
*.tw*

# Paquetes y bibliotecas
## MiKTeX
/miktex/
## TeX Live
/texlive/

/Articulo/

# Carpetas generadas por algunos editores
/.vscode/
/.idea/

# Archivos de datos de Overleaf (si trabajas con Overleaf)
*.RData
*.Rhistory

/.venv/
.env
