# Entorno virtual
venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Archivos de configuración local
*.env
*.local
*.env.*

# Archivos de configuración de IDE
.vscode/
.idea/
*.code-workspace

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución / paquetes
*.egg-info/
dist/
build/
*.egg
*.whl

# Archivos de caché y logs
*.log
.pytest_cache/
.coverage
htmlcov/

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de configuración de Flask
instance/

# Archivos de macOS
.DS_Store

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de Sphinx
docs/_build/

# Archivos de testing
.pytest_cache/
db.sqlite3-wal
db.sqlite3-shm
