<form id="legal-form" class="form-section">
    <h2>SECCIÓN LEGAL</h2>

    <div class="form-group legal-info">
        <div class="form-group">
            <label>¿Quisieras recibir información sobre formación en certificación y gestión de playas?</label>
            <div class="checkbox-group">
                <div class="checkbox-option">
                    <input type="radio" id="info_si" name="recibir_info" value="Si">
                    <label for="info_si" style="display: inline;">Sí</label>
                </div>
                <div class="checkbox-option">
                    <input type="radio" id="info_no" name="recibir_info" value="No" checked>
                    <label for="info_no" style="display: inline;">No</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <p>Para cualquier consulta adicional por favor comunicarte al correo <a href="mailto:coordinacion@cifplayas.org">coordinacion@cifplayas.org</a> o al Telegram/WhatsApp <a href="https://wa.me/573229372107">+57 3229372107</a></p>
        </div>
    </div>

    <div class="navigation">
        <button type="button" class="prev-btn" data-prev="2">Anterior</button>
        <button type="submit">Enviar Formulario</button>
    </div>
</form>

