<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamizador del Aula</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!-- librería de Telegram -->
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>Bienvenido al Dinamizador del aula</h1>
    </header>
    <main>
        <p>Interactúa con los comandos disponibles:</p>
        <div class="button-container">
            <button onclick="executeCommand('/publishMessages', 'bot_classroom')">Publicar Mensajes Informativos</button>
            <button onclick="executeCommand('/interactMessages', 'bot_classroom')">Interactuar con Mensajes</button>
            <button onclick="executeCommand('/submitQuestions', 'bot_classroom')">Enviar Preguntas</button>
        </div>
    </main>
    <footer>
        <p>© 2025 MiniApp - Dinamizador del Aula</p>
    </footer>
</body>
</html>