{% extends "base.html" %}
{% block title %}Formulario de Registro{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles_miniapp_registration.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="header-container">
            <h1>Formulario de Registro</h1>
            <a href="{{ url_for('landing_page') }}" class="btn btn-back">← Volver al Inicio</a>
        </div>

        <div class="progress-steps">
            <div class="step active" data-step="1">1</div>
            <div class="step-line"></div>
            <div class="step" data-step="2">2</div>
            <div class="step-line"></div>
            <div class="step" data-step="3">3</div>
        </div>

        <div id="form-container">
            <!-- Las secciones se cargarán aquí dinámicamente -->
        </div>
    </div>
{% endblock %}

{% block js %}
<!-- Chart.js -->
<script src="{{ url_for('static', filename='scripts_miniapp_registration.js') }}" defer></script>
{% endblock %}